---
import Layout from '../../layouts/Layout.astro';
import { getEntry, getCollection } from "astro:content";
import NeighborIsla from '../../components/NeighborIsla.jsx';
import AddToTravelPlanButtonIsla from '../../components/AddToTravelPlanButtonIsla.vue';

export async function getStaticPaths() {
  const countries = await getCollection("countries");
  return countries.map((country) => ({
    params: { slug: country.data.slug },
  }));
}

const { slug } = Astro.params;
let countryEntry = await getEntry("countries", slug);

if (!countryEntry) {
  const countries = await getCollection("countries");
  countryEntry = countries[0];
}

const country = countryEntry.data;
const allCountries = await getCollection("countries");


const neighbors = country.borders
  ? country.borders
      .map(code => allCountries.find(c => c.data.code.toLowerCase() === code.toLowerCase()))
      .map(c => {
        if (!c) return null;
        return {
          code: c.data.code,
          name: c.data.name,
          flag: c.data.flag,
          slug: c.data.slug,
          lat: c.data.latlng[0],
          lng: c.data.latlng[1]
        };
      })
      .filter(Boolean)
  : [];
---
<Layout>
  <div class="container-fluid mt-5 px-2 px-sm-1 px-md-4 py-2 py-sm-5">

    <h1 class="text-center mb-4" style="font-size: 3.2rem;">
      { country.name }
    </h1>
    
    <section class="text-center d-flex flex-column align-items-center min-vh-50">
      <img 
        src={country.flag} 
        alt={`Bandera de ${country.name}`} 
        class="img-fluid rounded" 
        style="height: 30vh; max-height: 350px; max-width: 90vw; min-width: 300px; object-fit: cover; transition: transform 0.3s ease;"
      />
    </section>
    <section class="mt-3 mb-3 px-3">
      <AddToTravelPlanButtonIsla country={country} client:visible />
    </section>
    <section>
      <NeighborIsla neighbors={neighbors} client:load />
    </section>

    

  </div>
</Layout>
